* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas1 {
  background: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#controls {
  position: absolute;
  padding: 10px;
  border: 2px solid white;
  left: 20px;
  top: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

button {
  padding: 7px;
  width: 200px;
}

input,
label {
  color: white;
  font-size: 20px;
}
